<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/libs/bootstrap/js/bootstrap.bundle.js"></script>
    <style>
        body {
            padding-top: 70px;
        }

        .main {
            min-height: calc(100vh - 110px);
        }
    </style>
    @await RenderSectionAsync("styles", false)
</head>
<body>
    <navbar class="navbar bg-info text-white navbar-expand-md fixed-top shadow-sm border-bottom">
        <div class="container-fluid">
            <span class="navbar-brand">Super Coaching Center <sup> Teacher Deatails</sup></span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nv" aria-controls="nv" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse" id="nv">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>

                    </li>

                    <li class="nav-item">
                     <a class="nav-link" asp-action="Index" asp-controller="Teachers">Teacher</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Subjects">Subject</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Aggregates" asp-controller="Teachers">Aggregates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Grouping" asp-controller="Teachers">Grouping</a>
                    </li>
                </ul>
            </div>

        </div>
    </navbar>
    <main class="container-fluid main">
        @RenderBody()
    </main>
    <footer class="container-fluid">
        &copy; @DateTime.Today.Year
    </footer>
    @await RenderSectionAsync("scripts", false)
</body>
</html>